#Homepage {
    background-image: url('../../Assets/rawson-frame.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Homepage h1 {
    color: #FEFEE7;
}

.Homepage-caption-wrapper {
    position: absolute;

    margin-right: 5px;

    bottom: 0%;
    right: 0%;
    
    color: #FEFEE7;
}

.Homepage-main-wrapper {
    float: left;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Homepage-main-wrapper h1 {
    font-size: 48px;
}

#Homepage-welcome-message {
    margin: auto;

    width: 50%;

    font-size: 90px;

    border-bottom: 2px solid #FEFEE7;
}

.Homepage-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Homepage-who-i-am-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.Homepage-animated-text {
    color: #FEFEE7;
}

.Homepage-where-i-am-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}