#Skills {
    text-align: center;
    background-color: #234468;
}

.Skills-iOS-tag {
    color: #FFFC7A;
}

.Skills-web-tag {
    color: #C9FFFF;
}

.Skills-leftWrapper {
    float: left;

    width: 30vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Skills-title {
    font-size: 72px;
    color: #FEFEE7;
}

.Skills-description {
    width: 75%;
    margin-top: 10px;
    font-size: 40px;
    color: #FEFEE7;
}

.Skills-midWrapper {
    float: left;

    width: 35vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Skills-rightWrapper {
    float: left;

    width: 35vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}