#Skills {
    text-align: center;
}

.Skills-leftWrapper {
    float: left;

    width: 30vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: burlywood;
}

.Skills-midWrapper {
    float: left;

    width: 35vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: thistle;
}

.Skills-rightWrapper {
    float: left;

    width: 35vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: steelblue;
}