.SkillCard {
    text-align: center;

    width: 75%;

    border: 1px solid #FEFDEA;
    border-radius: 10px;

    background-color: #54738E;
}

.SkillCard-title {
    text-align: center;
    margin-left: 0px;
    text-decoration: underline;
    color: #FEFDEA;
}

.SkillCard-list {
    margin-left: 0px;
    padding-left: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style-type: none;

    color: #FEFDEA;
}

.SkillCard-list li {
    font-size: 24px;
    border-bottom: 0px solid #FEFDEA;
    margin-bottom: 5px;
}

.SkillCard-list-li-ios {
    color: #FFFC7A;
}

.SkillCard-list-li-web {
    color: #C9FFFF;
}