#ContactPage {
    text-align: center;
    
    background-color: #4C9141;
}

.testWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.ContactPage-businessCard {
    margin-top: 0px;
    margin-bottom: 25px;

    

    height: 75%;
    width: 75%;

    border-radius: 25px;

    background-color: #65A759;
}